<form id="todo-list-form">
  <div class="form-title">
    <h3>Create new Todo List</h3>
    <button type="button" class="close-form" id="closeCreateTodoList">x</button>
  </div>
  <p id="p-list-name">
    <label for="list-name">Name <span class="required">*</span></label>
    <input
      type="text"
      id="list-name-input-todo-form"
      name="list-name"
      placeholder="Todo list name"
      required
    />
    <span class="error-popup error-popup-hidden"></span>
  </p>

  <p>
    <label for="project-name">Project</label>
    <input
      type="text"
      id="project-name-input-todo-form"
      name="project-name"
      placeholder="Project name"
    />
  </p>

  <button type="button" class="submit" id="createTodoList">Create</button>
</form>
