.container-wrapper {
  display: block;
  background: #111;
  opacity: 0.5;
  z-index: 1;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.todo-list-detail-block {
  display: flex;
  flex-direction: column;
  height: clamp(150px, 10%, 100%);
  background-color: var(--color-mono-300);
  border-radius: 1rem;
  padding: 2rem 3rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(350px, 30vw, 500px);
  z-index: 2;
  visibility: hidden;
  gap: 1rem;
}

.title-line-item {
  display: grid;
  grid-template-columns: 1fr 40%;
  align-items: center;
}

.line-item {
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: center;
}

.line-item h3 {
  display: inline;
}

.close-block-button {
  display: inline;
  background-color: var(--color-mono-400);
  border: none;
  border-radius: 0.5rem;
  color: var(--color-mono-100);
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  margin-left: auto;
}
