* {
  box-sizing: border-box;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--color-mono-190);
  color: var(--color-mono-ddd);
}
/* grid styles */
#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-height) minmax(0, 1fr) 5rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  overflow-y: auto;
}

footer {
  grid-area: footer;
}
/* end grid styles */

/* element styles */
header {
  background-color: var(--color-purple-900);
  display: flex;
}
header .logo {
  display: block;
  background-image: url("../src/logo.png");
  background-size: contain;
  height: var(--header-height);
  width: var(--header-height);
}
header > h1 {
  align-self: center;
  font-size: 2rem;
  margin-left: 1rem;
}

header > nav#main-menu {
  display: flex;
  margin-left: auto;
  margin-right: 1.5rem;
}

header #addButton {
  padding: 0 0.8rem;
  background-color: var(--color-purple-100);
  border-radius: 0.5rem;
  border: none;
  height: 3rem;
  align-self: center;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-purple-100);
}

footer {
  align-content: center;
  background-color: var(--color-mono-300);
}

footer > p {
  display: flex;
  justify-content: center;
}

#app-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
  margin: 2rem;
}

/* listPage.js styles */
.todo-list-block {
  background-color: var(--color-mono-200);
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-list-block-content {
  display: grid;
  grid-template-columns: 12ch 1fr;
}
/* .todo-list-block-content > label {} */
.todo-list-block-content > input {
  background-color: transparent;
  color: var(--color-mono-ddd);
  border: 1px solid var(--color-mono-600);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding: 0 0 0 0.5rem;
}

.add-new-note {
  margin-top: auto;
  width: clamp(10ch, 40%, 40%);
  background-color: transparent;
  border: transparent;
  color: var(--color-purple-100);
  cursor: pointer;
}

.add-new-note > span {
  font-weight: 600;
}

.add-new-note > span:hover {
  text-shadow: 0px 0px 10px var(--color-mono-800);
}
